<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <% for (rec of recs) { %>
        <h2>Recommendation</h2>
        <h3>Search Criteria</h3>
        <% for (searchKey of Object.keys(rec._doc.searchCriteria)) { %>
            <div><%- `${searchKey}: ${rec.searchCriteria[searchKey]}` %></div>
        <% } %>
        <h3>Games</h3>
        <% for (searchKey of Object.keys(rec._doc.games)) { %>
            <h4><%- rec.games[searchKey].game %></h4>
            <div>Price: $<%- rec.games[searchKey].price %></div>
        <% } %>
    <% } %>
</body>
</html>