<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <% for (rec of recs.reverse()) { %>
        <% console.log(rec) %>
        <% for (searchKey of Object.keys(rec._doc.games)) { %>
            <a href="/recommendations/<%- rec._doc._id %>">
                <h2><%- rec.games[searchKey].title %></h2>
                <img src=<%- rec.games[searchKey].sample_cover.image %>>
            </a>
        <% } %>
    <% } %>
</body>
</html>