<%- include('../partials/meta') %>
<link rel="stylesheet" href="/details.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <% for (doc of rec.games) { %>
        <h2><%- doc.title %></h2>
        <img src="<%- doc.sample_cover.image %>"><br>
        <%- doc.description %>
        <h3>Genres</h3>
        <ul>
            <% for (genre of doc.genres) { %>
                <li><%- genre.genre_name %></li>
            <% } %>
        </ul>
        <h3>Platforms</h3>
            <% for (platform of doc.platforms) { %>
            <ul>
                <li><%- `${platform.platform_name}: released in ${platform.first_release_date}` %></li>
            </ul>
            <% } %>
        <h3>Gameplay Screenshots</h3>
            <% for (screenshot of doc.sample_screenshots) { %>
            <img src="<%- screenshot.image %>"><br>
            <% } %>
    <% } %>
    <form method="POST" action ="/recommendations/<%- rec._id %>?_method=DELETE">
        <input type="submit" value="Delete Recommendation">
    </form>
    </main>
</body>
</html>