<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <h2><%- user[0].username %> User Dashboard</h2>
    <a href="/users/<%- user[0].username %>/edit"><button>Edit User Account</button></a>
    <% Object.keys(recs) %>
    <% for (key of Object.keys(recs)) { %>
        <h3>Recommendation</h3>
        <h4>Search Criteria</h4>
        <table>
            <tr>
              <th>Category</th>
              <th>Value</th>
            </tr>
            <% for (searchKey of Object.keys(recs[key][0].searchCriteria)) { %>
            <tr>
              <td><%- searchKey %></td>
              <td><%- recs[key][0].searchCriteria[searchKey] %></td>
            </tr>
            <% } %>
        </table>
        <h4>Games</h4>
            <% for (searchKey of Object.keys(recs[key][0].games)) {  %>
                <h5><%- recs[key][0].games[searchKey].game %></h5>
                <div>Price: <%- recs[key][0].games[searchKey].price %></div>
            <% } %>
    <% } %>
</body>
</html>