<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <h2>Edit User</h2>
    <form method="POST" action=<%- `/users/${user[0].username}/edit?_method=PUT` %>>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="<%- user[0].username %>" required>
        <br>

        <label for="password">Password: </label>
        <input type="text" id="password" name="password" value = "<%- user[0].password %>" required>
        <br>

        <input type="submit" value="Edit User Account">
    </form>
    <form method="POST" action=<%- `/users/${user[0].username}?_method=DELETE` %>>
        <input type="submit" value="Delete User Account">
    </form>
</body>
</html>