<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <% console.log(info[0].username) %>
    <a href="/users/<%- info[0].username %>/edit"><button>User Dashboard</button></a>
    <h2>Social Feed</h2>
    <% for (user of users) { %>
    <a href="/users/<%- user.username %>/profile"><h3><%- user.username %></h3></a>
    <% } %>
</body>
</html>